HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.devcontainer/
浠ｇ爜缁撴瀯璇存槑.md
ai-api.md
ai绔湇鍔℃敼閫犳柟妗?md
### 环境变量 ###
.env
.env.*

### Python ###
__pycache__/


### opencode ###
AGENTS.md
.sisyphus/


### Python ###
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
venv/
.venv/
*.egg
*.db

### Node.js ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
